*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top {
    display: grid;
    grid-template-rows: 10vh 10vh;
    align-items: center;
    justify-items: center;
}
h3  {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 300%;
    background-color: #e2e2e2;
    color: #515151;
}
#map {
    height: 90vh;
}
.button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 15%;
    padding: 10px 8px;
    background-color: #78ffe2;
    border: none;
}